# Porta do servidor (o Render define sozinho)
PORT=8080
# Chave de API do Google com a "Google Drive API" ativada, para tocar vídeos do Drive no modo web.
# Crie em https://console.cloud.google.com/apis/credentials e restrinja aos sites do app.
# GOOGLE_API_KEY=AIza...
